@font-face {
    font-family: 'GG Sans';
    /* src: url(font/gg\ sans\ Bold.ttf) format('truetype');
    src: url(font/gg\ sans\ Medium.ttf) format('truetype'); */
    src: url(font/gg\ sans\ Regular.ttf) format('truetype');
    /* src: url(font/gg\ sans\ Semibold.ttf) format('truetype'); */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header img,
header h1,
header nav{
    display: inline-block;
    vertical-align: middle;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: 100%;
    background-image: url("imgs/white-texture.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 10%;
    align-items: baseline;
    justify-content: baseline;
}

header {
    overflow: hidden;
    background-color: orange;
    padding: 10px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
 }

header img {
    width: 50px;
    height: auto;
}

header h1   {
    font-size: 25px;
}

a{
    font-weight: bolder;
    text-decoration: none;
    font-family: 'GG Sans';
    color: white;
    
}

a:hover {
    color: blue;
}

nav {
    margin-left: 10%;
}

nav a{
    margin-left: 10px;
}

section{
    align-items:flex-start
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: orange;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

section h2 {
    font-size: 2.3rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form input {
    padding: 13px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 15px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 13px;
    margin-bottom: 30px;
    transition: 0.5s;
}

form textarea:focus {
    border-radius: 15px;
}

form button {
    padding: 13px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: white;
    color: black;
    border-radius: 15px;
}