@font-face {
    font-family: 'GG Sans';
    /* src: url(font/gg\ sans\ Bold.ttf) format('truetype');
    src: url(font/gg\ sans\ Medium.ttf) format('truetype'); */
    src: url(font/gg\ sans\ Regular.ttf) format('truetype');
    /* src: url(font/gg\ sans\ Semibold.ttf) format('truetype'); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header img,
header h1,
header nav{
    display: inline-block;
    vertical-align: middle;
}

body {
    background-size: 100%;
    background-image: url("imgs/white-texture.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 5%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

header {
    overflow: hidden;
    background-color: orange;
    padding: 0px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
 }

header img {
    width: 50px;
    height: auto;
}

header h1   {
    font-size: 25px;
}

a{
    font-weight: bolder;
    text-decoration: none;
    font-family: 'GG Sans';
    color: white;
    
}

a:hover {
    color: blue;
}

nav {
    margin-left: 10%;
}

nav a{
    margin-left: 10px;
}

section{
    align-items:flex-start
}

div h1 {
    color: black;
    margin-bottom: 20px;
}

section {
    width: 200%;
    max-width: 800px;
}

details.animation {
    transition: all 5s ease-in-out;
    max-height: 80px;
}

details[open].animation {
    max-height: 1000px;
}

details.animation summary {
    padding: 2%;
    border-bottom: 2px solid #282828;
    font-weight: 600;
    cursor: pointer;
}

details[open].animation summary {
    padding-bottom: 1em;
}

details.animation p {
    background-color: whitesmoke;
    color: black;
    padding: 2%;
   border: 1px solid black;
}