body {
    margin: 0;
    background-image: url(/Projetos/Dyames/html-css/10/FundoC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecario {
    background-color:  rgb(6, 101, 145);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: -2px;
    font-size: 23px;
    border-top: solid 5px black;
}

.cabecario1 {
    text-align: center;
    margin-bottom: 90px;
    margin-left: 20px;
    font-style: oblique;
}

.cabecario2 {
    font-size: 15px;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
}

.cabecario3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid 5px black;
}

.cabecario3 li {
   display: flex;
   cursor: pointer;
}

.cabecario4 {
    margin-right: 25px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-size: 18px;
}

.cabecario4 a {
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

.cabecario5{
    margin-left: 583px;
    height: 17px;
    width: 190px;
    border: solid black 1px;
}

.cabecario6{
    height: 21px;
    border: solid black 1px;
    margin-left: 30px;
    cursor: pointer;
}

.cabecario7{
    list-style-type: none;
    text-decoration: none;
}


.Centro{
    background-color: #fff;
    border-radius: 30px;
    border: solid black 5px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

.centro1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-style: oblique;
    font-size: 20px;
    text-decoration: underline 2px;
}

.centro2{
    margin-left: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    
}

.centro3{
    margin-right: 25px; 
    width: 200px; 
    height: auto;
}

.centro4{
    margin-right: 10px;
    font-size: 20px;
    font-style: oblique;
    align-items: center;    
}

.centro5{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.centro6{
    font-style: italic;
    font-size: 16px;
    width: 62%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center; 
}

.fim0 {
    background-color: rgb(6, 101, 145);
    color: #fff;
    padding: 20px;
    margin-top: 19%;
    bottom: 0;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

.fim {
    max-width: 1200px;  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links img {
    width: auto;
    height: 50px;
    background-color: black;
    margin-right: 1px;
    background-image: rgb(6, 101, 145);
}