@font-face {
    font-family: 'GG Sans';
    /* src: url(font/gg\ sans\ Bold.ttf) format('truetype');
    src: url(font/gg\ sans\ Medium.ttf) format('truetype'); */
    src: url(font/gg\ sans\ Regular.ttf) format('truetype');
    /* src: url(font/gg\ sans\ Semibold.ttf) format('truetype'); */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header img,
header h1,
header nav{
    display: inline-block;
    vertical-align: middle;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: 100%;
    background-image: url("imgs/white-texture.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 10%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

header {
    overflow: hidden;
    background-color: orange;
    padding: 10px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
 }

header img {
    width: 50px;
    height: auto;
}

header h1   {
    font-size: 25px;
}

a{
    font-weight: bolder;
    text-decoration: none;
    font-family: 'GG Sans';
    color: white;
    
}

a:hover {
    color: blue;
}

nav {
    margin-left: 10%;
}

nav a{
    margin-left: 10px;
}

section{
    align-items:flex-start
}

.card {
    background-color: lemonchiffon;
    margin-right: 5%;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card img {
    width: 100%;
    height: 50%;
}

.card h1 {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.card h2 {
    font-size: .9rem;
    margin-bottom: 10%;
}

.card span {
    font-size: 1.5rem;
    margin-bottom: 4%;
}

.card button {
    background-color: lemonchiffon;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 4px;
    width: 80%;
    color: black;
    transition: all 1s;
}

.card button:hover {
    background: white;
    color: black;
    border-radius: 15px;
}