*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url("imgs/login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: orange;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

section h2 {
    font-size: 2.3rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form input {
    padding: 13px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
}

form button {
    padding: 13px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: white;
    color: black;
    border-radius: 15px;
}


